@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    /* 내가 맞춘  css 스타일로 상속받는다 */
    color:inherit;
}
ul{
    list-style: none;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
img{
    vertical-align: top;
    border: 0;
}

#wrap{
    margin:0 auto;
    width: 1200px;
}
body{
    color: #222328;
}

/* =====모달======= */
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    /* z-index 숫자가 높을 수록 위로 */
    z-index: 50;
    display: none;
}
.modal .modal_inner{
    width: 800px;
    height: 600px;
    background-color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    /* 가운데 정렬 만들어줌 */
    transform: translate(-50%, -50%);
}
.modal .modal_inner button{
    width: 50px;
    height: 50px;
    font-size: 30px;
}
.modal > title{}

/* =====헤더===== */
header{
    width: 100%;
    height: 100px;
    /* background-color:rgb(28, 103, 28); */
    /* zindex 사용하려면 postion 값이 필요함 */
    position: relative;
    z-index: 10;
    
}
/* =====logo======= */
header h1{
    float: left;
    width: 200px;
    padding-top: 30px;
    color: rgb(28, 103, 28);
    margin-top: -10px;
}
header h1 a{
    font-size: 45px;
    
}
header nav{
    float: right;
    width: 700px;
    background-color: white;
    border-end-start-radius: 5px;
    padding-top: 30px;
}
/* 호버되었을 때 배경색 주기 .gnb */
header nav ul.gnb{
    width: 100%;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    /* background-color: #fff; */
}
header nav ul.gnb>li{
    width: 25%;
    /* 신기하다 여기를 주니까 갑자기 되네?! */
    float: left;
    /* 포지션 relative 잡고 ul sub에 absolve 주기*/
    position: relative;
}

/* .gnb>li을 호버했을 때의 CSS */
header nav ul.gnb>li:hover>a{
    background-color: rgb(28, 103, 28);
    color: white;
}

/* 상단 메뉴 */
header nav ul.gnb>li>a{
    font-size: 25px;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
}
/* js로 서브메뉴 안보이게 세팅하기 */
header nav ul.gnb>li>ul.sub{
    width: 100%;
    line-height: 40px;
    display: none;
    /* 여기에 위치 고정만들기 */
    position: absolute;
    left: 0;
    top:58px;
    background-color: white;
    /* 이렇게 되면 li만 있는 칸에만 세팅이 되어 height을 넣어주어야함 */
    height: 160px;
    
}
header nav ul.gnb>li>ul.sub>li{
    width: 100%;
    height: 40px;
}
header nav ul.gnb>li>ul.sub>li>a{
    /* 글자포함 내려오는 메뉴전체에 a 영역주기 */
    display: block;
    width: 100%;
    height: 100%;
}
header nav ul.gnb>li>ul.sub>li:hover>a{
    background-color: rgb(28, 103, 28);
    color: white;
}


/* =====로고===== */
#logo{
    display: flex;
    width: 250px;
    height: 100px;
}

/* =====슬라이더===== */
.slide{
    width: 100%;
    height: 700px;
    background-color: white;
    /* 슬라이더를 기준으로 아래의 그림배치 */
    position: relative;
    /* 오버플로우를 통해 그림 보여줌 */
    overflow: hidden;
}
.slide ul.slide_all{
    /* 아래는 위의 기준으로 top, left을 잡아줌 */
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 300px;
}
/* 그림보여줄 수 있는 li */
.slide ul.slide_all>li{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 300px;
}
.slide ul.slide_all>li>a img{
    width: 100%;
}
/* ====contents====== */
.contents{
    width: 100%;
    height: 200px;
}
/* 가로정렬 */
.contents section{
    float: left;
}
/* =====.contents .notice_gal===== */
.contents .notice_gal{
    width: 500px;
    height: 200px;
    /* 여기를 기준으로 아래 absolute로 한군데로 몰아넣음 */
    position: relative;
}
.contents .notice_gal h3{
    position: absolute;
    left: 0;
    top:0;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #ccc;
    color: #222328;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.contents .notice_gal h3.r100{
    left: 100px;
}
/* 활성화 되어있는 클래스 */
.contents .notice_gal h3.on{
    background-color: rgb(124, 67, 21);
    color: white;
}

/* 같은 위치에 모아두려고 ul에 세팅 */
.contents .notice_gal ul {
    position: absolute;
    left: 0;
    top: 30px;
    display: none;
}
/* class on으로 클릭으로 보여주기 */
.contents .notice_gal ul.on {
    display: block;
}
.contents .notice_gal ul.notice {
    width: 100%;
}
.contents .notice_gal ul.notice li {
    width: 100%;
    height: 28px;
    line-height: 28px;
    /* contents .notice_gal ul.notice li a .day 의 기준 */
    /*날짜를 한쪽으로 정렬할려고 이걸 잡은거네! */
    position: relative;
    padding-left: 10px;
}
.contents .notice_gal ul.notice li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.contents .notice_gal ul.notice li a:hover{
    color: #ccc;
}
/*=====게시판 */
.contents .notice_gal ul.notice li a .day{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
}
/* =====갤러리========== */
.contents .notice_gal ul.gal   {
    width: 100%;
}
.contents .notice_gal ul.gal li  {
    width: 150px;
    height: 150px;
    float: left;
    /* 사이즈를 포토샵에서 맞추던가 변경이 요망 */
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 12px;
    margin-top: 12px;
    /* 글씨를 태그에서 지우지 말고 자리를 밀어줌 */
    /* text-indent: -9999px; */
    /* 같은 방법 */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
/* 사진 배경 url로 처리 */
.contents .notice_gal ul.gal li:nth-child(1){
    background-image: url(../assets/images/machine_3.jpg);
}
.contents .notice_gal ul.gal li:nth-child(2){
    background-image: url(../assets/images/machine_5.jpg);
}
.contents .notice_gal ul.gal li:nth-child(3){
    background-image: url(../assets/images/machine_2.jpg);
}
.contents .notice_gal ul.gal li a {
    display: block;
    width: 100%;
    height: 100%;
}
/* ======배너===== */
.contents .banner_sub{
    width: 350px;
    height: 200px;
}
.contents .banner_sub h2{

}
.contents .banner_sub h2 a img{
    width: 350px;
    height: 200px;
}
/* ====.contents .banner_sub===== */
.contents .baro{
    width: 350px;
    height: 200px;
}
.contents .baro h2{
    background-color: rgb(124, 67, 21);
    color: white;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 9px;
}
/* =====바로가기====== */
.contents .baro h3 {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #333;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid white;
}
.contents .baro h3 a{
    display: block;
    width: 100%;
    height: 100%;
}
.contents .baro h3 a:hover{
    opacity: 0.8;
}

/* ========푸터========= */
footer{
    width: 100%;
    height: 100px;
    background-color: aqua;
}
footer ul.copy{
    float: left;
    width: 200px;
    padding-top: 30px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}
footer ul.copy li{
    float: left;
    margin-right: 20px;
}
footer .sns{
    float: left;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    padding-top: 30px;
}
